.profile {
  margin-bottom: 50px;
  display: flex;
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  .profile {
    margin-bottom: 36px;
    flex-direction: column;
    margin-top: 38.25px;
  }
}
